{% extends "base.html" %}
{% load static %}
{% block content %}
    <div role="main" class="main">
        <section style="background-color:#8D8D8A" class="container-fluid p-5 bg-primary text-white text-center page-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 style="font-size:40px;color:#FFFFFF">Rezervasyon</h1>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock content %}
